<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <p>
      <a href="/sivu1">Sivu 1</a> |
      <a href='/sivu2'>Sivu 2</a> |
      Sivu 3 |
      <a href="/logout">logout</a>
    </p>

    <h1><%= title %></h1>
    <p>Session id on <%= sessid %></p>

    <!-- Tulostetaan kaikki opiskelijat ja sekä heidän kurssinsa. -->
    <ul>
      <% students.forEach(function (s) { %>
        <li> <%= s.name %> - <%= s.email %>
          <ul>
            <% s.grades.forEach(function (g) { %>
              <li> <%= g.course_code %> - <%= g.grade %> </li>
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>

  </body>
</html>
